# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Write Posts to Agit!
on:
  schedule: 
    - cron : '40 14 * * 4'
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Write Posts to Agit!
      run :
        python dali.py
      env:
        FB_WEEKDAY: 4
        FB_HOUR: 00
        FB_MIN: 00
        AGIT_TOKEN : ${{ secrets.AGIT_TOKEN }}
